*{
    padding: 0;
    margin: 0;
    font-family: arial;
    box-sizing: border-box;   
}
body{
    position: relative;
    min-height: 100vh;
    // background-image: linear-gradient(112 deg, rgba(32,38,57,1)11.4%, rgba(63,76,119,1)70.2%);
}
.conteiner{
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.2);
    display: none;
}
.modal-form{
    max-width :400px; 
    height: 500px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    // background-image: linear-gradient(114 deg, rgba(121,194,243,1)22.6%, rgba(255,180,239,1)67.7%);
    background-color: #fff;
    position:relative;
    top: 20%;
    left:50%;
    transform: translate(-50%);
    box-shadow: 1px 1px 8px rgba(0,0,0,0.2),
                -1px -1px 8px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.modal-title{
    padding: 20px;
    text-align: center;
    font-size: 20px;
    color: #fff;
    background-color: royalblue;
    // background-color: #fc427b;
    border-radius: 5px 5px 0 0;

}
form-body{
    padding: 20px;
    position: relative;
}
.form-group{
    width: 300px;
    margin: 0 auto;
    margin-top:23px ;
    position: relative;
}
.form-group input{
    width: 100%;
    padding: 5px 0;
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 1px dotted #4d4d4d;
}
.form-group span{
    padding: 5px 0;
    position: absolute;
    left: 0;
    pointer-events:none ;
    color: #4d4d4d;
}
.form-group input:focus~span,
.form-group input:valid~span{
    font-size: 12px;
    transform: translateY(-23px);
    color: #d3c9cc;
}
#singUp{
    background-color: royalblue;
    font-size: 20px;
    padding: 10px;
    color: #fff;
    cursor: pointer;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.4),
                -1px -1px 5px rgba(0,0,0,0.4);
}
#loginaccount a{
    display: block;
    text-decoration: none;
    color: #fc427b;
    text-align: center;
}
#closebtn{
    position:absolute ;
    top: -10px;
    right: -10px;
    width: 30px;
    height: 30px;
    border: none;
    outline: none;
    border-radius: 50%;
    font-size: 20px;
    color: #fc427b;
    cursor: pointer;
}
// #signUpBtn{
//     background-color: royalblue;
//     font-size: 20px;
//     padding: 10px;
//     color: #fff;
//     margin: 20px;
//     border: none;
//     box-shadow: 1px 1px 5px rgba(0,0,0,0.4),
//                 -1px -1px 5px rgba(0,0,0,0.4);
// }