@import"globals";
@import"variables";
@import"header";
@import "footer";
@import"index";
@import"servicios";
@import"quienesSomos";
@import"formulario";
@import"ayuda";
@import"formularioDatosReserva";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}